@import "./config.scss";
.button {
  border: none;
  color: black;
  background-color: $primary;
  padding: 75px 250px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 5px;
  cursor: pointer;
  border-radius: 10px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.right {
  border: none;
  color: white;
  background-color: #4d62a8;
  padding: 16px 32px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 5px;
  cursor: pointer;
  border-radius: 10px;
}

.cage-container {
  display: flex;
  gap: 8px;
}

.cage {
  flex: 1 1 40%;
  display: block;
  border: 1px solid $primary;
  margin-bottom: 8px;
  overflow: hidden;
  cursor: pointer;
  max-width: 50%;
  gap: 16px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .cage {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.cage-img {
  display: block;
  height: 128px;
  overflow-y: hidden;
}

.cage-body {
  padding-left: 16px;
  overflow-x: hidden;
  display: block;
}

.cage-details {
  display: block;
}
